# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
# Keep the project icon.
!/.idea/icon.png
# Keep the runConfigurations.
!/.idea/runConfigurations/flutter_run_nerikoso_admin_dev.xml
!/.idea/runConfigurations/flutter_run_nerikoso_admin_prod.xml
!/.idea/runConfigurations/flutter_run_nerikoso_admin_stg.xml
!/.idea/runConfigurations/flutter_run_nerikoso_dev.xml
!/.idea/runConfigurations/flutter_run_nerikoso_prod.xml
!/.idea/runConfigurations/flutter_run_nerikoso_stg.xml

# Editor User Setting Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace
!default.code-workspace
.classpath
.project

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
/build/**
/apps/list_sample_app/build/**
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Web related
apps/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Coverage
coverage/

# Fastlane related
**/fastlane/report.xml

# FVM related
**/.fvm/flutter_sdk

# Bundler related
**/vendor/bundle

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock

# Melos
pubspec_overrides.yaml

# mason
.mason

# Firebase
.firebase

# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# FVM Version Cache
.fvm/
